/*
****** universal styling
*/

:root {
    /*
    color
    */
    --background-color: rgb(0, 78, 100);
    --color-gray: rgb(224, 229, 233);
    --color-lilac: rgb(214, 193, 232);
    --color-powderBlue: rgb(199, 221, 235);
    --color-black: rgb(0, 0, 0);
    --white: #ffffff;
    --progressbar-bg: lightgray;
    --start: red;
    --middle: blue;
    --finish: green;

    /*
    font
    */
    --font-family: 'Karla', sans-serif;
    --font-sizeH1: 34px;
    --font-sizeP: 14px;
    /*
    size
    */
    --size-100vh: 100vh;
    --size-188px: 188px;
}

html, 
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--color-powderBlue);
}

main {
    min-height: calc(var(--size-100vh) - var(--size-188px));
}

/*
****** projects
*/

.headerline {
    padding-top: var(--size-48PX);
    text-align: center;
    color: var(--color-powderBlue);
    padding-bottom: 20%;
}

.container {
    width: 80%;
    margin: 60px auto;
}

.progressBar {
    height: 40px;
    background: var(--progressbar-bg);
    border-radius: 20px;
}

.progressStatus {
    width: 10%;
    height: 40px;
    background: var(--start);
    animation: 6s showprogress infinite;
}

@keyframes showprogress {
    50%{
        width: 50%;
        background: var(--middle);
    }100% {
        width: 100%;
        background: var(--finish);
    }
}
