/*
  CSS custom properties Variablen
*/

:root {
    /* color */
    --primary-color: #636B2F;
    --second-color: rgb(0, 0, 128);
    --text-color: white;
    --field-color: black;

    /* fonts */
    --text-font: 'Courier New', Courier, monospace;

    /* size */
    --font-size: 48px;
    --font-input-size: 30px;
    --padding-top-size: 100px;
    --padding-bottom-size: 20px;
    --gap-size: 10px;
    --btn-size: 86px;
    --btn-radius-size: 50px;
    --btn-radius-width: 5px;
    --margin: 0;
}

/*
    BEISPIELE wie man die Variablen dann anlegt

  body{
      padding: auto;
      background-color: var(--primary-color);
      }
  
  h1{
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color);
      font-family: var(--text-font);
      font-size: var(--font-size);
      padding-top: var(--padding-top-size);
      padding-bottom: var(--padding-bottom-size);
      margin: var(--margin);
    }
  
  .btn{
      width: var(--btn-size);
      height: var(--btn-size);
      border-radius: var(--btn-radius-size);
      background-color: var(--second-color);
      border-color: var(--second-color);
      border-width: var(--btn-radius-width);
      font-size: var(--font-size);
    }
*/
