/*
****** universal styling
*/

:root {
    /*
    color
    */
    --background-color: rgb(0, 78, 100);
    --color-gray: rgb(224, 229, 233);
    --color-lilac: rgb(214, 193, 232);
    --color-powderBlue: rgb(199, 221, 235);
    --color-black: rgb(0, 0, 0);
    --white: #ffffff;
    --stage-1: 25%;
    --stage-2: 50%;
    --stage-3: 75%;
    --stage-4: 100%;
    --progbar-bg: lightgray;
    --stage-1-bg: red;
    --stage-2-bg: orangered;
    --stage-3-bg: greenyellow;
    --stage-4-bg: green;

    /*
    font
    */
    --font-family: 'Karla', sans-serif;
    --font-sizeH1: 34px;
    --font-sizeP: 14px;
    /*
    size
    */
    --size-100vh: 100vh;
    --size-188px: 188px;
}

html, 
body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    font-family: var(--font-family);
    color: var(--color-black);
}

main {
    min-height: calc(var(--size-100vh) - var(--size-188px));
}

/*
****** projects
*/

.headerline {
    padding-top: var(--size-48PX);
    text-align: center;
    color: var(--background-color);
    padding-bottom: 20%;
}

.card {
    height: 350px;
    width: 80%;
    background: var(--background-color);
    color: var(--white);
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover{
    transform: rotateY(180deg);
}

.cardBack {
    display: none;
}

.card:hover .cardFront{
    display: none;
}

.card:hover .cardBack{
    display: block;
    transform: rotateY(180deg);
}

.cardFront,
.cardBack {
    backface-visibility: hidden;
}

/*
****** pseudo classes
*/
